* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0056ff, #90bafc);
    color: #ffffff;
    padding: 10px;
}

.calculator {
    width: 100%;
    max-width: 600px;
    margin: 10% auto;
}

.calculator h1 {
    font-size: 57px;
}

.input-box {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 40px 0;
    padding: 35px;
    display: flex;
    align-items: center;
}

.input-box input {
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}

.input-box button {
    background: #000000;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-box button:hover {
    background-color: #003865;
}

.input-box input::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}



#result span {
    color: #000000;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    .calculator {
        margin: 20% auto;
    }

    .calculator h1 {
        font-size: 34px;
        text-align: center;
    }

    .input-box {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .input-box input {
        margin-bottom: 20px;
    }

    .input-box button {
        width: 100%;
    }
}
@media only screen and (max-width: 600px){
.input-box input {
    margin-bottom: 20px;
    width: 100%;
}
p#result {
    font-size: 22px;
}
#hl {
    margin-top: 5%;
}

}
.results {
    font-size: 34px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0.31em;
    color: #080808;
    place-items: center;
    box-shadow: 0 0.93em 1.25em rgba(0, 0, 0, 0.3);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.myss {
    text-align: left;
    background-color: #ffffff;
    border-radius: 0.31em;
    color: #080808;
    place-items: center;
    box-shadow: 0 0.93em 1.25em rgba(0, 0, 0, 0.3);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
#hl {
    margin-top: 3%;
}
h3{
    font-size: 25px;
}
p#dis {
    font-size: 20px;
}
